.cover {
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 1em auto;
    width: 1016px;
  }
}

.conferentpage .head-conferent {
  margin: 1em auto;
  padding: .5em;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .conferentpage .head-conferent {
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .conferentpage .head-conferent {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .conferentpage .head-conferent {
    margin: 1em auto;
    width: 1016px;
  }
}

.conferentpage .head-conferent span {
  color: #fff;
}

.conferentpage .head-conferent span:last-child {
  font-size: .8em;
  margin-left: 1em;
}

.conferentpage .table-conference {
  margin: 1em auto;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .conferentpage .table-conference {
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .conferentpage .table-conference {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .conferentpage .table-conference {
    margin: 1em auto;
    width: 1016px;
  }
}

.conferentpage .table-conference .head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 120px 500px;
      grid-template-columns: 80px 120px 500px;
  grid-auto-flow: column;
}

@media screen and (min-width: 1024px) {
  .conferentpage .table-conference .head {
    -ms-grid-columns: 10% 15% 75%;
        grid-template-columns: 10% 15% 75%;
  }
}

.conferentpage .table-conference .head .td {
  text-align: center;
}

.conferentpage .table-conference .body .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 120px 500px;
      grid-template-columns: 80px 120px 500px;
  grid-auto-flow: column;
}

@media screen and (min-width: 1024px) {
  .conferentpage .table-conference .body .list {
    -ms-grid-columns: 10% 15% 75%;
        grid-template-columns: 10% 15% 75%;
  }
}

.conferentpage .table-conference .body .list:hover {
  background: #1A921A;
  color: #fff;
}

.conferentpage .table-conference .body .list .td {
  border: 1px solid #A7A7A7;
}

.conferentpage .table-conference .body .list .td:nth-child(1), .conferentpage .table-conference .body .list .td:nth-child(2) {
  padding: .5em 0;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .conferentpage .table-conference .body .list .td:nth-child(1), .conferentpage .table-conference .body .list .td:nth-child(2) {
    padding: 1em 0;
  }
}

.conferentpage .table-conference .body .list .td:nth-child(3) {
  padding: .5em 1em;
}

@media screen and (min-width: 1280px) {
  .conferentpage .table-conference .body .list .td:nth-child(3) {
    padding: 1em 1.5em;
  }
}

.conferentpage .head-conferent-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em auto;
}

@media screen and (min-width: 768px) {
  .conferentpage .head-conferent-detail {
    margin: 1em 3em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .conferentpage .head-conferent-detail {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .conferentpage .head-conferent-detail {
    margin: 1em auto;
    width: 1016px;
  }
}

.conferentpage .head-conferent-detail .left .no p, .conferentpage .head-conferent-detail .left .date p {
  color: #1A921A;
}

.conferentpage .head-conferent-detail .right p {
  color: #1A921A;
}

.conferentpage .title-conference {
  margin: 1em auto;
}

@media screen and (min-width: 768px) {
  .conferentpage .title-conference {
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .conferentpage .title-conference {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .conferentpage .title-conference {
    margin: 1em auto;
    width: 1016px;
  }
}

.conferentpage .video {
  margin: 1em auto;
}

@media screen and (min-width: 768px) {
  .conferentpage .video {
    margin: 1em 3em;
    padding: 0 4em;
  }
}

@media screen and (min-width: 1024px) {
  .conferentpage .video {
    margin: 1em 8em;
    padding: 0 8em;
  }
}

@media screen and (min-width: 1280px) {
  .conferentpage .video {
    margin: 1em auto;
    width: 1016px;
    padding: 0 10em;
  }
}

.conferentpage .video iframe {
  width: 100% !important;
  height: 300px !important;
}

@media screen and (min-width: 1024px) {
  .conferentpage .video iframe {
    height: 400px !important;
  }
}

.conferentpage .button-join {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conferentpage .button-join button {
  background: #1A921A;
  color: #fff;
  border: 1px solid #1A921A;
}

@media (hover: hover) {
  .conferentpage .button-join button:hover {
    background: #fff;
    color: #1A921A;
  }
}

.conferentpage .comment {
  margin: 1em auto;
  background: #f6f6f6;
  border-radius: 10px;
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .conferentpage .comment {
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .conferentpage .comment {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .conferentpage .comment {
    margin: 1em auto;
    width: 1016px;
  }
}

.conferentpage .comment .box-input-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .conferentpage .comment .box-input-comment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.conferentpage .comment .box-input-comment .avatar {
  display: none;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .conferentpage .comment .box-input-comment .avatar {
    display: block;
  }
}

.conferentpage .comment .box-input-comment .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.conferentpage .comment .box-input-comment .input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.conferentpage .comment .box-input-comment .input textarea {
  padding: 5px 25px 5px 5px;
  border: 1px solid #000;
}

.conferentpage .comment .box-input-comment .input i {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #A7A7A7;
  cursor: pointer;
}

.conferentpage .comment .comment-show {
  margin-top: 2em;
}

.conferentpage .comment .comment-show .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  margin-bottom: 1em;
}

.conferentpage .comment .comment-show .list .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.conferentpage .comment .comment-show .list .comment-txt .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.conferentpage .comment .comment-show .list .comment-txt .name p {
  color: #1B1B3F;
  font-weight: 600;
  width: calc(100% - 60px);
  height: 1.4em;
  overflow: hidden;
}

.conferentpage .comment .comment-show .list .comment-txt .name .ask {
  font-size: .8em;
  color: #A7A7A7;
  margin-left: 1em;
}

.conferentpage .comment .comment-show .list .comment-txt .txt {
  color: #1B1B3F;
}

.conferentpage .comment .comment-show .list .reply {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: .5em;
}

.conferentpage .comment .comment-show .list .reply .collap-reply {
  color: #00ADEF;
  font-size: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

.conferentpage .comment .comment-show .list .reply .collap-reply i {
  margin-right: 5px;
}

.conferentpage .comment .comment-show .list .reply .box-reply .list-reply {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  margin: 1em 0;
}

.conferentpage .comment .comment-show .list .reply .box-reply .list-reply .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.conferentpage .comment .comment-show .list .reply .box-reply .list-reply .comment-txt .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.conferentpage .comment .comment-show .list .reply .box-reply .list-reply .comment-txt .name p {
  color: #1B1B3F;
  font-weight: 600;
  width: 100%;
  height: 1.4em;
  overflow: hidden;
}

.conferentpage .comment .comment-show .list .reply .box-reply .list-reply .comment-txt .name .ask {
  font-size: .8em;
  color: #A7A7A7;
  margin-left: 1em;
}

.conferentpage .comment .comment-show .list .reply .box-reply .list-reply .comment-txt .txt {
  color: #1B1B3F;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1em auto;
  border-top: 1px solid #1A921A;
  padding-top: 1em;
}

@media screen and (min-width: 768px) {
  .pagination {
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .pagination {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .pagination {
    margin: 2em auto;
    width: 1016px;
  }
}

.pagination li {
  list-style: none;
  padding: 0 .5em;
}

.pagination .page {
  border-right: 1px solid #000;
}

.pagination .page.current {
  color: #1A921A;
}

.pagination .page.current a {
  border-bottom: 2px solid #1A921A;
  font-weight: 600;
}
/*# sourceMappingURL=conferent.css.map */