.cover {
  position: relative;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 2em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 2em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 2em auto;
    width: 1016px;
  }
}

.cover .head-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.cover .head-title h1 {
  color: #fff;
  background: #1a921aad;
  font-size: 1em;
  text-align: center;
  padding: 0.25em 0;
  text-shadow: 2px 2px 3px #0000007a;
}

@media screen and (min-width: 600px) {
  .cover .head-title h1 {
    font-size: 1.4em;
  }
}

.departmentpage .ck {
  margin: 2em auto;
}

@media screen and (min-width: 768px) {
  .departmentpage .ck {
    margin: 2em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .departmentpage .ck {
    margin: 2em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .departmentpage .ck {
    margin: 2em auto;
    width: 1016px;
  }
}

.departmentpage .ck p img {
  width: 100%;
}

.departmentpage .ck ul li, .departmentpage .ck ol li {
  list-style-position: inside;
}

.staffpage .grid-staff {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 4em;
  margin: 1em auto;
}

@media screen and (min-width: 768px) {
  .staffpage .grid-staff {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .staffpage .grid-staff {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .staffpage .grid-staff {
    margin: 2em auto;
    width: 1016px;
  }
}

.staffpage .grid-staff .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.staffpage .grid-staff .box figure {
  width: 160px;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.staffpage .grid-staff .box figure img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.staffpage .grid-staff .box .detail {
  width: calc(100% - 160px);
  padding-left: .5em;
}

@media screen and (min-width: 1024px) {
  .staffpage .grid-staff .box .detail {
    padding-left: 2em;
  }
}

.staffpage .grid-staff .box .detail .name {
  text-align: center;
  border-bottom: 1px dashed #A7A7A7;
  padding-bottom: .5em;
}

.staffpage .grid-staff .box .detail .name p:first-child {
  font-weight: 500;
  font-size: 1.2em;
}

.staffpage .grid-staff .box .detail .position {
  text-align: center;
  padding-top: .5em;
  margin-bottom: .5em;
}

.staffpage .grid-staff .box .detail .position p {
  font-size: 1em;
  font-weight: 500;
  color: #A7A7A7;
}

.staffpage .grid-staff .box .detail .department, .staffpage .grid-staff .box .detail .tel, .staffpage .grid-staff .box .detail .email {
  margin: .25em 0;
}

.staffpage .grid-staff .box .detail .department p, .staffpage .grid-staff .box .detail .tel p, .staffpage .grid-staff .box .detail .email p {
  color: lightgray;
  font-size: .8em;
}

@media screen and (min-width: 1280px) {
  .staffpage .grid-staff .box .detail .department p, .staffpage .grid-staff .box .detail .tel p, .staffpage .grid-staff .box .detail .email p {
    font-size: .9em;
  }
}

.staffpage .grid-staff .box .detail .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.staffpage .grid-staff .box .detail .button a {
  background-color: #1A921A;
  color: #fff;
  border: 1px solid #1A921A;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media (hover: hover) {
  .staffpage .grid-staff .box .detail .button a:hover {
    background-color: #fff;
    color: #1A921A;
  }
}

.staffpage .detail-staff {
  margin: 1em auto;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff {
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .staffpage .detail-staff {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .staffpage .detail-staff {
    margin: 2em auto;
    width: 1016px;
  }
}

.staffpage .detail-staff .top-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .top-zone {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.staffpage .detail-staff .top-zone figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staffpage .detail-staff .top-zone figure img {
  width: 278px;
  height: 400px;
}

.staffpage .detail-staff .top-zone .personal-info {
  margin-top: 1em;
  border-bottom: 2px dashed #1A921A;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .top-zone .personal-info {
    width: calc(100% - 278px);
    margin-left: 1em;
    margin-top: 0;
  }
}

.staffpage .detail-staff .top-zone .personal-info .name {
  text-align: center;
  border-bottom: 1px dashed #A7A7A7;
  padding-bottom: .5em;
}

.staffpage .detail-staff .top-zone .personal-info .name p:first-child {
  font-size: 1.4em;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .top-zone .personal-info .name p:first-child {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1280px) {
  .staffpage .detail-staff .top-zone .personal-info .name p:first-child {
    font-size: 2em;
  }
}

.staffpage .detail-staff .top-zone .personal-info .name p:last-child {
  font-size: 1em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .top-zone .personal-info .name p:last-child {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1280px) {
  .staffpage .detail-staff .top-zone .personal-info .name p:last-child {
    font-size: 1.4em;
  }
}

.staffpage .detail-staff .top-zone .personal-info .position {
  text-align: center;
  padding-top: .5em;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .top-zone .personal-info .position p {
    font-size: 1.2em;
  }
}

.staffpage .detail-staff .top-zone .personal-info .department, .staffpage .detail-staff .top-zone .personal-info .contact, .staffpage .detail-staff .top-zone .personal-info .tel, .staffpage .detail-staff .top-zone .personal-info .email, .staffpage .detail-staff .top-zone .personal-info .time {
  margin: .5em 0;
  padding: 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .3fr 1fr;
      grid-template-columns: .3fr 1fr;
  grid-column-gap: 1em;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .top-zone .personal-info .department, .staffpage .detail-staff .top-zone .personal-info .contact, .staffpage .detail-staff .top-zone .personal-info .tel, .staffpage .detail-staff .top-zone .personal-info .email, .staffpage .detail-staff .top-zone .personal-info .time {
    margin: 1em 0;
  }
}

@media screen and (min-width: 1280px) {
  .staffpage .detail-staff .top-zone .personal-info .department, .staffpage .detail-staff .top-zone .personal-info .contact, .staffpage .detail-staff .top-zone .personal-info .tel, .staffpage .detail-staff .top-zone .personal-info .email, .staffpage .detail-staff .top-zone .personal-info .time {
    -ms-grid-columns: .2fr 1fr;
        grid-template-columns: .2fr 1fr;
  }
}

.staffpage .detail-staff .top-zone .personal-info .department p, .staffpage .detail-staff .top-zone .personal-info .contact p, .staffpage .detail-staff .top-zone .personal-info .tel p, .staffpage .detail-staff .top-zone .personal-info .email p, .staffpage .detail-staff .top-zone .personal-info .time p {
  color: #A7A7A7;
  font-size: .8em;
}

.staffpage .detail-staff .top-zone .personal-info .department p:first-child, .staffpage .detail-staff .top-zone .personal-info .contact p:first-child, .staffpage .detail-staff .top-zone .personal-info .tel p:first-child, .staffpage .detail-staff .top-zone .personal-info .email p:first-child, .staffpage .detail-staff .top-zone .personal-info .time p:first-child {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .top-zone .personal-info .department p, .staffpage .detail-staff .top-zone .personal-info .contact p, .staffpage .detail-staff .top-zone .personal-info .tel p, .staffpage .detail-staff .top-zone .personal-info .email p, .staffpage .detail-staff .top-zone .personal-info .time p {
    font-size: 1em;
  }
}

.staffpage .detail-staff .bottom-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .bottom-zone {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.staffpage .detail-staff .bottom-zone .select-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2em 0;
  border: 1px solid #1A921A;
  padding: .5em 0;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .bottom-zone .select-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-right: 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: .25em 0;
  }
}

.staffpage .detail-staff .bottom-zone .select-info .select-menu {
  cursor: pointer;
  color: #1A921A;
  background: #fff;
  padding: .25em;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .bottom-zone .select-info .select-menu {
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed #1A921A;
    margin: .25em 0;
  }
}

.staffpage .detail-staff .bottom-zone .select-info .select-menu:last-child {
  border-right: unset;
}

.staffpage .detail-staff .bottom-zone .select-info .select-menu.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#1A921A), to(#56921A));
  background: linear-gradient(#1A921A, #56921A);
  color: #fff;
  border-radius: 5px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .bottom-zone .select-info .select-menu.active:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0da';
    position: absolute;
    top: -13px;
    right: -21px;
    font-size: 3.4em;
    color: #1A921A;
  }
}

@media (hover: hover) {
  .staffpage .detail-staff .bottom-zone .select-info .select-menu:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#1A921A), to(#56921A));
    background: linear-gradient(#1A921A, #56921A);
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .staffpage .detail-staff .bottom-zone .info-selected {
    width: calc(100% - 278px);
    margin-left: 2em;
  }
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal, .staffpage .detail-staff .bottom-zone .info-selected > .research, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest {
  display: none;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal.show, .staffpage .detail-staff .bottom-zone .info-selected > .research.show, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest.show {
  display: block;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box, .staffpage .detail-staff .bottom-zone .info-selected > .research .box, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box {
  margin-bottom: 2em;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box p.title, .staffpage .detail-staff .bottom-zone .info-selected > .research .box p.title, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box p.title {
  color: #1A921A;
  border-bottom: 1px solid #000;
  font-weight: 600;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box p.txt, .staffpage .detail-staff .bottom-zone .info-selected > .research .box p.txt, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box p.txt {
  margin-top: .5em;
  color: #A7A7A7;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.edu .grid-edu, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.edu .grid-edu, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.edu .grid-edu {
  overflow-x: auto;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.edu .grid-edu .list, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.edu .grid-edu .list, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.edu .grid-edu .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 50% 50% 30%;
      grid-template-columns: 15% 50% 50% 30%;
  grid-auto-columns: auto;
  margin: .5em 0;
}

@media screen and (min-width: 1024px) {
  .staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.edu .grid-edu .list, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.edu .grid-edu .list, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.edu .grid-edu .list {
    -ms-grid-columns: 10% 35% 40% 25%;
        grid-template-columns: 10% 35% 40% 25%;
  }
}

@media screen and (min-width: 1280px) {
  .staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.edu .grid-edu .list, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.edu .grid-edu .list, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.edu .grid-edu .list {
    -ms-grid-columns: 10% 35% 35% 20%;
        grid-template-columns: 10% 35% 35% 20%;
  }
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.edu .grid-edu .list p, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.edu .grid-edu .list p, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.edu .grid-edu .list p {
  height: 1.4em;
  overflow: hidden;
  color: #A7A7A7;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list {
  margin: 1em 0 3em 0;
  padding-left: 2em;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list p, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list p, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list p {
  color: #A7A7A7;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list .accessibility, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list .accessibility, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list .accessibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5em;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list .accessibility .menu, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list .accessibility .menu, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list .accessibility .menu {
  border-right: 1px solid #A7A7A7;
  padding-right: 1em;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list .accessibility .menu:last-child, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list .accessibility .menu:last-child, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list .accessibility .menu:last-child {
  border-right: unset;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list .accessibility .file, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list .accessibility .file, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list .accessibility .file {
  margin-right: 1em;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list .accessibility .file a, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list .accessibility .file a, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list .accessibility .file a {
  color: #1A921A;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list .accessibility .link, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list .accessibility .link, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list .accessibility .link {
  margin-right: 1em;
}

.staffpage .detail-staff .bottom-zone .info-selected .info-personal .box.research .list .accessibility .link a, .staffpage .detail-staff .bottom-zone .info-selected > .research .box.research .list .accessibility .link a, .staffpage .detail-staff .bottom-zone .info-selected > .research-interest .box.research .list .accessibility .link a {
  color: #A7A7A7;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1em auto;
  border-top: 1px solid #1A921A;
  padding-top: 1em;
}

@media screen and (min-width: 768px) {
  .pagination {
    margin: 1em 3em;
  }
}

@media screen and (min-width: 1024px) {
  .pagination {
    margin: 1em 8em;
  }
}

@media screen and (min-width: 1280px) {
  .pagination {
    margin: 2em auto;
    width: 1016px;
  }
}

.pagination li {
  list-style: none;
  padding: 0 .5em;
}

.pagination .page {
  border-right: 1px solid #000;
}

.pagination .page.current {
  color: #1A921A;
}

.pagination .page.current a {
  border-bottom: 2px solid #1A921A;
  font-weight: 600;
}
/*# sourceMappingURL=department.css.map */