@import 'variable';

.coursepage{
  .cover{
    position: relative;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width:$md){
      margin: 1em 3em;
    }
    @media screen and (min-width:$lg){
      margin: 1em auto;
    }
    @media screen and (min-width:$xl){
      // position: sticky;
      // top: 0;
    }

    .head-title{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: max-content;
      
      h1{
        color: $white;
        background: #1a921aad;
        font-size: 1em;
        text-align: center;
        padding: 0.25em 0;
      }
    }
  }
}