@import 'variable';

.loginpage{
  position: relative;
  margin: 1em auto;
  padding: 1em;

  @media screen and (min-width:$md){
    margin: 2em 3em;
    padding: 2em 4em;
  }
  @media screen and (min-width:$lg){
    margin: 2em 8em;
    padding: 2em 8em;
  }
  @media screen and (min-width:$xl){
    margin: 2em auto;
    padding: 3em 16em;
    width: 1016px;
  }

  h1{
    text-align: center;
    color: $white;
    margin-bottom: 1em;
  }

  .box-auth{
    .show-error{
      margin-bottom: 2em;
      color: red;
      background: burlywood;
      padding: .5em;
      border-radius: 5px;
    }

    .input-box{
      margin-bottom: .5em;

      label{
        color: $white;
      }

      .input{
        position: relative;

        >input[type="password"]{
          padding: 5px 85px 5px 10px;
        }

        .show-pass{
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          color: $green;
          font-size: .8em;
          cursor: pointer;
          user-select: none;
          -ms-user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -webkit-touch-callout: none;
        }
      }
    }

    .forget-signin{
      margin-top: 1em;
      display: flex;
      flex-direction: column;

      @media screen and (min-width:$md){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .signin{
        p{
          color: $white;

          a{
            color: $orange;
          }
        }
      }
      .forget{
        a{
          color: $orange;
        }
      }
    }

    .button-signin{
      margin-top: 3em;
      display: flex;
      align-items: center;
      justify-content: center;

      button{
        color: $green;
        background: $white;
        border: 1px solid $white;

        @media (hover:hover){
          &:hover{
            color: $white;
            background: $green;
            border: 1px solid $green;
          }
        }
      }
    }

    .radio-type{
      display: flex;
      align-items: center;
      margin-bottom: 2em;
      flex-wrap: wrap;

      .radio{
        display: flex;
        align-items: center;
        margin-right: 2em;
        margin-bottom: 1em;

        @media screen and (min-width:$md){
          margin-bottom: 0;
        }

        input{
          width: 20px;
          height: 20px;
        }
        label{
          margin-left: 1em;
          color: $white;
        }
      }
    }
  }

  .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img{
      height: 100%;
      width: 100%;
    }
  }
}